<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you want!</h2>
                <hr class="light">
                <p class="text-faded">Join our club and start learning about investing, business, finance, and analysis! Come see your first meeting. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
