<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyIC</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static  'img/favicon.ico' %}" type="image/icon" />
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel='stylesheet' type='text/css'>
</head>
<body>
{% include "navbar.html" %}
{%  block content %}
{%  endblock %}
{% include "footer.html" %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
</body>
</html>