<div class="top-bar">
    <div class="top-bar-left">
         <ul class="menu" data-dropdown-menu>
             <li>
                 {% load static %}
                 <img class="logo" alt="Cypress Investment Club" src="{% static 'img/cyiclogo.png' %}" width="100px" />
                 <!-- Cypress Investment Club -->
             </li>
             <li>
                 <a href="#">Who We Are</a>
             </li>
             <li>
                 <a href="teampage">Team</a>
             </li>
             <li>
                 <a href="stocks">Stocks</a>
             </li>
         </ul>
    </div>
    <div class="top-bar-right">
        <!-- Right Nav section -->
        <ul class="menu">
            <li>
            {% if user.is_authenticated %}
                <li><a href="dues">Dues</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                <a href="{% url 'login' %}">login</a>
            {% endif %}
            </li>
        </ul>
    </div>
</div>