<div id="navbar">
    <nav class="top-bar" data-topbar role="navigation">
         <ul class="title-area">
             <li class="name">
                 <h1 id="home"><a href="index.html">
                     {% load static %}
                     <img class="logo" alt="Cypress Investment Club" src="{% static 'img/biglogo.png' %}" width="100px" />
                 <!-- Cypress Investment Club --></a></h1>
             </li>
         </ul>
        <section class="top-bar-section">
            <!-- Right Nav section -->
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a>Who We Are</a>
                    <ul class="menu">
                        <li><a href="about.html#mission">Our Mission</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="teampage.html">Team</a>
                    <ul class="dropdown">
                        <li><a href="teampage.html#execs">Executive Board</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
    </nav>
</div>